<%= form_for(@friend_relation) do |f| %>
  <% if @friend_relation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@friend_relation.errors.count, "error") %> prohibited this friend_relation from being saved:</h2>

      <ul>
      <% @friend_relation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :small_id %><br>
    <%= f.number_field :small_id %>
  </div>
  <div class="field">
    <%= f.label :big_id %><br>
    <%= f.number_field :big_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
