<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en">

<head>
<meta charset="UTF-8">
<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/">
<title>给你的老朋友写封信吧</title>
<meta name="DC.title" content="给你的老朋友写封信吧">
<meta property="og:title" content="给你的老朋友写封信吧">
<meta property="og:image" content="https://froont.com/jsohpill/c5ljo5/_screenshots/images/thumbnail/1700_1430808317.png_1500x1500.jpeg">
<meta property="og:type" content="website">
<meta property="og:site_name" content="FROONT">
<meta name="DC.language" scheme="ISO639-1" content="en">

<%= stylesheet_link_tag    'base', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

<%= javascript_include_tag 'jquery.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'noframework.waypoints.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'responsive-nav.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'idangerous.swiper.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'form-submit', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'reveal-animation', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'background-parallax', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'page-script', 'data-turbolinks-track' => true %>

<script type="text/javascript">
var fonts = {
  "europa": {
    "css_name": "europa",
    "family": "Europa",
    "id": "myvg",
    "source": "typekit",
    "stack": "sans-serif",
    "variants": [
      "n3",
    "i3",
    "n4",
    "i4",
    "n7",
    "i7"
      ]
  }
};
</script>

<%= javascript_include_tag 'webfont', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'fontloader', 'data-turbolinks-track' => true %>
<!-- Replace code below with your typekit kit's embed code -->
<script type="text/javascript" src='//use.typekit.net/ik/7Dcvsj0o94i4P4vIw0Wm9Q3FuMm6KDUFbr0etqg4ZcXfen9gf5aoHsJAFR6awDbUWhTDdhy3-AUCOAwudeTzFsT2Z14zdhoXOcFzdPUXZWFXOcZkdhN0ifoRdhXCdeNRjA3lZemhOcZkdhN0ifoRdhXCwQJaORM0wftUOeUzjhBC-eNDifJeZWmkdagyH6qJ7WqbMg62JMJ7f6RRy6IbMg6FJMJ7fbK7psMMeMb6MKGHf5PeMsMMeMt6MKG4fHyoIMMjgkMfH6GJojjgIMMjIPMfqMezaGp7gb.js'></script>
<script type="text/javascript">
try {
  Typekit.load();
} catch (e) {}
</script>
<!-- End of typekit code -->
<meta http-equiv="content-language" content="en">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<a class="fr-fork-on-froont" href="https://froont.com/jsohpill/pen-pal/-actions/clone" target="_top"></a>
<div class="b-content">
  <div id="discover" class="fr-widget fr-container fr_discover">
    <div id="quote_4" class="fr-widget fr-text fr-wf fr_h1_main_center_white-1 fr_quote_4">
      <div class="fr-text">重拾老朋友&nbsp;</div>
    </div>
  </div><!--
         --><form id="styled_form_1" class="fr-widget fr-form fr-wf fr_styled_form_1" method="POST" target="_blank">
    <div id="styled_form_1_heading" class="fr-widget fr-text fr-wf fr_h1_black fr_styled_form_1_heading">
      <div class="fr-text">We'll notify you when we launch</div>
    </div><!--
             --><div id="styled_form_grid" class="fr-widget fr-grid fr_styled_form_grid">
      <div id="styled_name_input" class="fr-widget fr-input fr-wf fr_form_input_1 fr_styled_name_input">
        <input type="text" class="fr_form_input_1 fr_styled_name_input" placeholder="Your name" name="FNAME">
      </div><!--
                 --><div id="styled_email_input" class="fr-widget fr-input fr-wf fr_form_input_1 fr_styled_email_input">
        <input type="email" class="fr_form_input_1 fr_styled_email_input" placeholder="Your email address" name="EMAIL">
      </div><!--
                 --><a id="styled_submit_btn" class="fr-widget fr-text fr-wf fr_submit_button_1 fr_styled_submit_btn fr-widget-hover-opacity-60 fr-link fr-linktype-submit">
        <div class="fr-text">Notify me</div>
      </a>
    </div>
  </form>
</div>
<div class="fr-copyright-footer">
  <div class="fr-widget fr-container">
    <div class="fr-widget fr-text fr-wf fr-made-with-froont">
      <a href="//froont.com" class="fr-text" target="_blank">
        MADE WITH <span class="heart">&hearts;</span> AND <b>FROONT</b>
      </a>
    </div>
  </div>
  <div class="fr-bottom-em-spacer"></div>
</div>
<div id="footer-assets">
</div>
</body>

</html>
